<table class="table table-striped table-bordered temperatures">
    <thead>
        <tr>
            <th><a href="" ng-click="predicate = 'id'; reverse=!reverse">Id</a></th>
            <th>Aika</th>
            <th><a href="" ng-click="predicate = 'temperature'; reverse=!reverse">Lämpötila (°C)</a></th>
        </tr>
    </thead>

    <tr class="{{ entry.class }}" ng-repeat="entry in alldata.entries | orderBy:predicate:reverse">
        <td>{{ entry.id }}</td>
        <td><strong>{{ entry.time }}</strong> {{ entry.date }}</td>
        <td>{{ entry.temperature }}</td>
    </tr>
</table>
