<div ng-hide="dayChartData.chart.datasets[0].data" class="alert">
Valitulle päivälle ei löydy mitattuja lämpötiloja
</div>

<div class="control-group input-append">
  <label for="datepicker">Valitse päivä:</label>
  <input type="text" ng-model="datepicker.date" bs-datepicker id="datepicker" name="datepicker">
  <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
</div>

<div class="row-fluid">
  <h3>Päivä</h3>
  <div>
      <canvas chartjs type="Line" options="dayChartData.options" data="dayChartData.chart" width="650" height="400"></canvas>
  </div><!--/span-->
</div><!--/row-->

<div class="row-fluid">
  <h3>Kuukausi</h3>
  <div>
      <canvas chartjs type="Line" options="monthChartData.options" data="monthChartData.chart" width="650" height="400"></canvas>
  </div><!--/span-->
</div><!--/row-->

<div class="row-fluid">
  <h3>Vuosi</h3>
  <div>
      <canvas chartjs type="Line" options="yearChartData.options" data="yearChartData.chart" width="650" height="400"></canvas>
  </div><!--/span-->
</div><!--/row-->

<br>
