<div id="frontpage">
    <div id="currentTemperatureContainer">

        <h2>Lämpötila nyt</h2>

        <div id="currentTemperature" style="background-color: rgb({{ temperaturedata.color }})">
            <h3 class="temperature">{{ temperaturedata.temperature }} <span>°C</span></h3>
        </div>

        <p>Lämpötila luettu {{ temperaturedata.timestamp }}.</p>

    </div>
</div>
