<table class="table table-striped table-bordered temperatures">
<thead>
    <tr>
        <th><a href="" ng-click="predicate = 'id'; reverse=!reverse">Id</a></th>
        <th><a href="" ng-click="predicate = 'temperature'; reverse=!reverse">Lämpötila (°C)</a></th>
        <th>Aika</th>
    </tr>
</thead>

<tr class="{{ entry.class }}" ng-repeat="entry in temperatureData.entries | orderBy:predicate:reverse">
  <td>{{ entry.id }}</td>
  <td>{{ entry.temperature }}</td>
  <td><strong>{{ entry.time }}</strong> {{ entry.date }}</td>
</tr>

</div>
