<table class="table table-striped table-bordered temperatures">
    <thead>
        <th>Kuvaus</th><th>Arvo (°C)</th><th>Ajankohta</th>
    </thead>
    <tr>
        <td>Kaikkien aikojen korkein lämpötila</td><td>{{ stats.max_temp.value }}</td><td>{{ stats.max_temp.timestamp }}</td>
    </tr>
    <tr>
        <td>Kaikkien aikojen matalin lämpötila</td><td>{{ stats.min_temp.value }}</td><td>{{ stats.min_temp.timestamp }}</td>
    </tr>
</table>

<table class="table table-striped table-bordered temperatures">
    <thead>
        <th>Kuvaus</th><th>Arvo</th>
    </thead>
    <tr>
        <td>Lämpötiloja mitattu</td><td>{{ stats.row_count }}</td>
    </tr>
</table>
