body {
  font-family: 'Arial', sans-serif;
  padding-top: 70px;
}

.temperatures {
    max-width: 500px;
    margin: 0 auto;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
      float: none;
      padding-left: 5px;
      padding-right: 5px;
    }
}

#frontpage {
    text-align: center;
}
#frontpage h2 {
    font-size: 1.4em;
}

.temperature {
    font-family: 'Unica One';
    letter-spacing: -0.05em;
    line-height: 200px;
    vertical-align: middle;
    font-size: 4.5em;
    color: white;
    font-weight: normal;
}
.temperature span {
    font-size: 0.5em;
    opacity: 0.4;
}

#currentTemperatureContainer {
    width: 300px;
    margin: 0 auto;
}

#currentTemperature {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: #444;
    text-align: center;
    margin: 20px auto;
}
